{% extends 'core/base.html' %}
{% load static %}

{% block body_class %}has-masthead{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('{% static 'core/img/small_monsters.webp' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Monstruos Pequeños</h1>
                    <h2 class="subheading">Criaturas que cazan en manada</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for entrada in page_obj %}
            <div class="col">
                {% include 'core/partials/monster_card.html' %}
            </div>
        {% empty %}
            <p class="text-center">No hay monstruos pequeños registrados.</p>
        {% endfor %}
    </div>

    {% if page_obj.paginator.num_pages > 1 %}
    <nav aria-label="Paginación" class="mt-4 mb-5">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
            {% endif %}
            
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %} 